@import url("https://fonts.googleapis.com/css?family=Archivo|Open+Sans:400,700");
html {
  font-family: 'Archivo', 'Open Sans', sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ 
  background: radial-gradient(circle at 0% 0%, #373b52, #252736 51%, #1d1e26);
  height: 100vh;
  color: rgba(202, 205, 239, 0.8);
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

a {
 color: rgba(202, 205, 239, 0.8);
 text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #f5f6ff;
  line-height:1em;
  margin: .5em 0;
}

.logo img {
  height: 2em;
  width: 2em;
}

.logo a {
  padding: 1em;
}

nav {
  display: flex;
  border-bottom: .1em solid #7881A1;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  margin: 0;
  display: flex;
  list-style: none;
}

nav ul li{
  padding: 1em;
}

a.button {
  padding: 1em;
}

.content {
  height: 100vh;
  overflow-y: scroll;
}

section {
  margin: 1em 1em 1em;
  height: 100vh;
}

section#home .left,
section#home .right {
  display: inline-block;
  width: 49.8%;
}

/*a.button::before {
  content: ' ';

  padding: 1em;
  background-image: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
  background-size: 500% auto;
  animation: gradient 3s linear infinite;
}*/

::-webkit-scrollbar {
  width: 8px;
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical {
  background: #7881A1;
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
  background: #BFD2FF;
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar-track {
  background-color: rgba(256, 256, 256, 0.1);
  -webkit-border-radius: 100px;
  margin-bottom: 0.2em
}