@import url("https://fonts.googleapis.com/css?family=Archivo|Open+Sans:400,700");
html {
  font-family: 'Archivo', 'Open Sans', sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ 
  background: radial-gradient(circle at 0% 0%, #373b52, #252736 51%, #1d1e26);
  height: 100vh;
  color: rgba(202, 205, 239, 0.8);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-gap: .3em
}

a {
 color: rgba(202, 205, 239, 0.8);
 text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #f5f6ff;
  line-height:1em;
  margin: .5em 0;
  text-align: center;
}

h3, h4, h5, h6 {
  color: rgba(202, 205, 239, 0.8);
}

h1 {
  font-size: 4em;
}

.logo img {
  height: 2em;
  width: 2em;
}

.logo a {
  padding: 1em;
}

nav {
  display: flex;
  border-bottom: .1em solid #7881A1;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  margin: 0;
  display: flex;
  list-style: none;
}

nav ul li{
  padding: 1em;
}

.content {
  overflow-y: scroll;
}

section {
  margin: 1em 1em 1em;
  min-height: 50vh;
}

section#home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  height: 91vh;
}

section#home .left,
section#home .right {
  display: inline-flex;
  align-items: center;
}

section#home .left {
  justify-content: flex-end;
}

section#home .left .downloadButton {
  display: flex;
  justify-content: center;
}

section#home .left .downloadButton .button {
  padding: 1em 7em;
  font-size: 1.4em;
}

section#home .right {
 justify-content: flex-start; 
}

section#home .right img {
  -webkit-mask: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
  height: 40em;
}

section#downloads {
  display: grid;
  grid-template-areas: "title title title title title"
                      "android windows linux mac ios";
  grid-template-rows: .1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}

section#support .places{
  display: flex;
  justify-content: center
}

section#support .places a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section#support img{
  border-radius: 50%;
  width: 10em;
}

section#faq .questions{
  display: flex;
  justify-content: center;
  text-align:center;
}

section#faq .question{
  font-size: 2em;
}

section#faq .awsner{
  font-size: .75em;
  color: #7881A1;
}

footer {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.button {
  padding: 1em;
  margin: 1em;
  background: rgba(57, 63, 84, 0.8);
}

textarea {
  width: 100%;
  border-color: transparent;
  color: #BFD2FF;
  background-color: rgba(57, 63, 84, 0.8);
}

a.file,
span.date {
  color: #BFD2FF;
}

/*a.button::before {
  border-radius: 4px !important;
  background-image: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
  background-size: 500% auto;
  animation: gradient 3s linear infinite;
}

@keyframes gradient {
  to {
     background-position: right;
  }
}

a.button::before,
a.button::after {
  content: '';
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  z-index: -1;
  border-radius: 3px;
}

a.button::after {
  margin: 3px;
}*/

::-webkit-scrollbar {
  width: 8px;
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical {
  background: #7881A1;
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
  background: #BFD2FF;
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar-track {
  background-color: rgba(256, 256, 256, 0.1);
  -webkit-border-radius: 100px;
  margin-bottom: 0.2em
}